<div class="wrapper fadeInDown" *ngIf="!togglePage">
    <div id="formContent">
    <h3>Registration Form: </h3>
      <form (ngSubmit)="onRegisterUser()">
        <input type="text" id="username" class="fadeIn second" name="user.username" placeholder="username" [(ngModel)]="user.username" >
        <input type="password" id="password" class="fadeIn third" name="user.password" placeholder="Password" [(ngModel)]="user.password" >
        <input type="submit" class="fadeIn fourth" value="Complete Registration">
      </form>
    </div>
  </div>
  <div class="wrapper fadeInDown" *ngIf= "togglePage">
    <div id="formContent">
    <h3>Registered Successfully. </h3>
      <form (ngSubmit)="successfullyRegisteredUser()">
        <input type="submit" class="fadeIn fourth" value="Go To Login Page">
      </form>
    </div>
  </div>
  <div class="wrapper fadeInDown" *ngIf="showErrorPage">
    <h3>Use different Mobile Number / Try later</h3>
    <form (ngSubmit)="onLoginUser()">
      <input type="submit" class="fadeIn fourth" value="Go To Login Page">
    </form>
  </div>
  