<div>  
    <form (ngSubmit)="onFilterUsers()">
        <h4><b>Filter Users:</b></h4>
        <div class="form-row">
            <div class="form-group"> 
            <select class="form-control"  name="filterOption" [(ngModel)]="filterOption" id="filterOption">
                <option *ngFor="let sub of filterList" [value]="sub">{{sub}}</option>
              </select>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success"> Submit </button>
            </div>
          </div>
      </form>  
</div>
<h4><b>Showing Users:</b></h4>
<div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Mobile Number</th>
          <th scope="col">Date Added</th>
          <th scope="col">Location</th>
          <th scope="col">Whatsapp Number</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor = "let row of users">
          <td>{{row.userName}}</td>
          <td>{{row.mobileNumber}}</td>
          <td>{{row.Added}}</td>
          <td>{{row.Location}}</td>
          <td>{{row.gotWhatsapp}}</td>
        </tr>
      </tbody>
    </table>
  </div>