<div>
  <form>
      <button type="button" class="btn btn-danger btn-sm" (click)="saveCart()">Save To Cart</button>
  </form>
  <form>
    <input type="text" class="form-control" name="productName" [(ngModel)]="productName" id="productName" placeholder="Enter ProductName to search" (ngModelChange)="Search()">         
  </form>
</div>
  <div class="example-button-row">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Name</th>
          <th scope="col">MRP Price</th>
          <th scope="col">Selling Price</th>
          <th scope="col">Add to Cart</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor = "let row of productArray">
          <td>{{row.productId}}</td>
          <td>{{row.productName}}</td>
          <td>{{row.productMRP}}</td>
          <td>{{row.productSellingPrice}}</td>
          <td >
            <button  type="click" class="btn btn-primary btn-sm" (click)="onAddToCart(row)">
              <div *ngIf="row.productAddedToCart">
                Added To Cart
              </div>
              <div *ngIf="!row.productAddedToCart">
                Add To Cart
              </div>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div>
  </div>
    
  